# Version Control
.git
.gitignore

# Go
backend/bin
backend/vendor
backend/internal/ui/dist

# Node
frontend/node_modules
frontend/build
frontend/.svelte-kit

# Environment
.env
.env.*

# Docker
Dockerfile
.dockerignore

# IDEs
.vscode
.idea
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store
